@import 'common.scss';

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
